.scribble_completed_true{
	color : grey;
	text-decoration:line-through
}

.scribble_completed_false{
	color: green;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

#scribblerapp {
  background: #fff;
  margin: 20px 20px 20px 20px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#scribbles-list:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#scribbles-list li .destroy {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin: auto 0;
	font-size: 20px;
	color: #cc9a9a;
	transition: color 0.2s ease-out;
}

#scribbles-list li .destroy:hover {
	color: red;
}

#scribbles-list li .destroy:after {
	content: '×';
}

#scribbles-list li:hover .destroy {
	display: block;
}