<html ng-app="scribbles">
<head>
  <title>Todo List Sample Application 1.0</title>
</head>
<body>
<div ng-view></div>
<script src="../vendor/javascripts/angular-1.4.6.min.js"></script>
<script src="../vendor/javascripts/angular-route-1.4.6.min.js"></script>
<script src="app.js"></script>
<script src="routes.js"></script>
<script src="services/scribble_list.js"></script>
<script src="controllers/scribble_list_controller.js"></script>
<script src="controllers/scribble_detail_controller.js"></script>

<script type="text/ng-template" id="/scribble_list.html">
  Search: <input type="text" ng-model="search.description">
  <ul>
    <li ng-repeat="scribble in scribblelist | filter: search">
      <input type="checkbox" ng-model="scribble.done">
      <a href="#/{{$index}}">{{scribble.description}}</a>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/scribble_detail.html">
  <h1>{{ scribble.description }}</h1>
  done: <input type="checkbox" ng-model="scribble.done">
  snippet: <textarea>{{ scribble.snippet }}</textarea>
</script>
</body>
</html>