<!DOCTYPE html>
<div class="well">
	<a href='/'><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
  <p>{{ scribble.title }}</p>
</div>